@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --borderRadius: 10px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
}

a {
  color: hsl(0, 0%, 100%);
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 335px;
  padding: 20px;
  border-radius: var(--borderRadius);
}

.card__image img {
  width: 100%;
  border-radius: var(--borderRadius);
}

.card__main {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 14px;
  padding: 14px 0;
  border-bottom: 1px solid hsl(215, 51%, 70%);
  font-size: 18px;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  font-weight: 600;
}

.card__content {
  font-weight: 300;
}

.card__data {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
}

.card__price {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8px;
  align-items: center;
  width: max-content;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.card__countdown {
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8px;
  align-items: center;
  width: max-content;
}

.card__footer {
  padding: 14px 0;
}

.card__user {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 16px;
  align-items: center;
  width: max-content;
}

.card__user img {
  height: 30px;
  border-radius: 30px;
  border: 1px solid hsl(0, 0%, 100%);
}