@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --dark-blue-main: hsl(217, 54%, 11%);
  --dark-blue-card: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --radius: 10px;
  --font-size-paragraph: 18px;
  --font-size-title: 22px;
  --font-size-small: 16px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background-color: var(--dark-blue-main);
  color: var(--soft-blue);
  font-family: 'Outfit', sans-serif;
}

a {
  color: var(--white);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.grid-col {
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  background-color: var(--dark-blue-card);
  width: 335px;
  height: min-content;
  padding: 20px;
  border-radius: var(--radius);
}

.card > * {
  margin-bottom: 20px;
}

.card > *:last-child {
  margin-bottom: 10px;
}

.card__image {
  width: 100%;
  border-radius: var(--radius);
}

.card__title {
  color: var(--white);
  font-size: var(--font-size-title);
  font-weight: 600;
}

.card__content {
  font-weight: 300;
  font-size: var(--font-size-paragraph);
}

.card__price {
  grid-column-gap: 8px;
  align-items: center;
  width: max-content;
  color: var(--cyan);
  font-weight: 600;
  font-size: var(--font-size-small);

}

.card__countdown {
  justify-self: end;
  grid-column-gap: 8px;
  align-items: center;
  width: max-content;
  font-size: var(--font-size-small);
}

.card__divider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 16px;
  border-top: 1px solid var(--dark-blue-line);
}

.card__user {
  grid-column-gap: 16px;
  align-items: center;
  width: max-content;
}

.card__user img {
  height: 30px;
  border-radius: 30px;
  border: 1px solid var(--white);
}