@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.card__content {
  font-size: 18px;
  font-weight: 300;
}

.card__price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}